html {
    background-color: #D8D8D8;
}

body {
    background-color: white;
    width: 1050px;
    margin: auto;
    padding: 30px;
    min-height: 950px;
    font-family: Georgia;
}

#header {
    margin-bottom: 15px;
    width: 1050px;
    height: 131px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

h1{
    text-decoration: underline;}

button {
    background-color: #3399ef;
    border: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    cursor: pointer;
    font-family: Georgia;
    transition: all 0.4s ease-in 0.1ms;
}

button:hover {
    background-color: #80C4FC;
}

button2 {
    background-color: #d8d8d8;
    border: black;
    color: grey;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    cursor: pointer;
    font-family: Georgia;
}

p.error {
    color: red;
}

