html {
    background-color: darkgrey;
}

body {
    background-color: whitesmoke;
    width: 900px;
    margin: auto;
    padding: 30px;
    min-height: 950px;
    font-family: 'PT Sans Narrow', sans-serif;
}

p.error {
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
}
