html, body {
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

.container {
    margin: 0;
    display: grid;
    grid-template-columns: auto 800px 300px auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    grid-gap: 10px;
    grid-template-areas:
    ". header user ."
    ". main sidebar ."
    "footer footer footer footer";
}
.item-a {
    grid-area: header;
    /*border: 2px solid green;*/
    margin: 0;
    width: 100%;
    font-size: 1.5em;
    align-content: center;
}

img {
    width: 800px;
    height: auto;
    transform: translate(0, 50%);
}
.item-b {
    grid-area: main;
    /*border: 2px solid red;*/
    padding: 20px;
}
.item-c {
    grid-area: sidebar;
    /*border: 2px solid blue;*/
    padding: 20px;
}
.item-d {
    grid-area: footer;
    background-color: #151414;
    color: white;
    margin: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #3399ef;
    text-align: center;
    font-size: 15px;
}
.time-column {
    border-right: 1px solid #3399ef;
}
.user {
    grid-area: user;
    text-align: right;
    padding: 0 20px;
}
.reservation {
    border: 2px solid black;
    margin: auto;
    width: 100px;
    height: 36px;
    color: black;
    text-decoration: none;
    transition: all 0.4s ease-in-out 0.2ms;
}

.reservation:hover {
    background-color: #3399ef;
    margin: auto;
    width: 100px;
    height: 36px;
}

.reservation-today {
    margin: 5px;
    padding: 0 10px;
    font-size: 1.2em;
    line-height: 5px;
}


/* buttons */
.link-button {
    transition: all 0.4s ease-in-out 0.2ms;
    background-color: #FFFFFF;
    color: #000000;

    border: 2px solid black;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    display: block;
}

.link-button:hover {
    background-color: #3399ef;
}


/* styling for detail page */
#options, #reservation, #information {
    margin: 10px 0;
}

#information, #reservation {
    padding: 10px 20px;
    border: 2px solid black;
}