html {
    background-color: #D8D8D8;
}

body {
    background-color: white;
    width: 1280px;
    margin: auto;
    padding: 30px;
    min-height: 950px;
    font-family: Georgia, serif;
}

main div.left {
    float: left;
    width: 250px;
}

main div.right {
    float: right;
    width: 1000px;
}

td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

div.reservation {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

a.reservation {
    color: black;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}
